<tr>
    <th scope="row">{{ item.id }}</th>
    <td>{{ item.name }}</td>
    <td>{{ item.price|number_format(2, '.', ',')  }} CZK</td>
    <td>{{ productModel.getProductStockQuantity(item.id) }}</td>
    <td>
        <a onclick="return confirm('Are you sure you want to delete this item?');" href="/product/remove/{{ item.id }}>">X</a>
        <a href="/product/edit/{{ item.id }}">edit</a>
    </td>
</tr>