<tr>
    <th scope="row">{{ item.id }}</th>
    <td>{{ item.name }}</td>
    <td>{{ item.active }}</td>
    <td class="text-right">
        <a href="/stocktaking/{{ item.id }}">Inventura</a>
        <a onclick="return confirm('Are you sure you want to delete this item?');" href="/product/remove/{{ item.id }}">X</a>
        <a href="/product/edit/{{ item.id }}">edit</a>
    </td>
</tr>